/* main.css v1.0.0
 * CSS for the homepage only
 */

.leftpad {
    /*padding-left: 2px;*/
}

.image-background {
    background-image: url("https://cdn.tdpain.net/siteimages/banner.webp");
    background-size: cover;
}

.header {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.white {
    color: white;
}
