/*
 * House theme... maybe?
 * v2.4.1
 */

/* import fonts and other stylesheets */
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic");
@import url("https://cdn.jsdelivr.net/gh/codemicro/assetCDN@1.0.0/css/bootstrap.css");

/* spacers for bootstrap */
.p-3 {
  	padding: $spacer !important;
}

/* custom theming for bootstrap */
.bg-home {
	background-color: #4acaa8 !important;
}

.btn-home {
	color: #fff;
	background-color: #4acaa8;
	border-color: #4acaa8;
}

/* fonts and colours */
body {
	font-family: "Lato", sans-serif;
}

.navbar a:hover {
	text-decoration: none;
}

.grey {
	color: #777;
}

.nodeco {
	text-decoration: none;
}

/* stuff for footer bars */
.copyright li a {
	color: inherit;
	text-decoration: none;
	border-bottom: solid 1px #777;
}

.copyright a:hover{
	border-bottom-color: transparent;
	color: #292929;
}

.copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}
.copyright li {
	border-left: solid 1px;
	display: inline-block;
	font-size: 0.8em;
	margin-left: 1em;
	padding-left: 1em;
}
